.cards {
    display: flex;
    overflow-x: auto;
    /* make the width equal to the viewport to prevent overflowing caused by cards */
    width: 100vw;
    background-color: var(--light-gray);
}

.card {
    position: relative;
    padding: var(--padding-1x);
    height: 400px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* oveflow to prevent image overflow when zoomed */
    overflow: hidden;
}



.topCard {
    display: flex;
    justify-content: space-between;
    z-index: 9;
}

.bottomCard {
    z-index: 9;
}

.cardNameAndDate {
    display: flex;
    flex-direction: column;
    gap: var(--padding-1x);
}

.cardCategoryButton {
    background: transparent;
    border-radius: var(--button-radius);
    border: 1px solid var(--white);
    padding: 0 var(--padding-sm);
}

.cardImage {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    object-fit: cover;
    /* smooth the zoom effect on hover */
    transition: transform .5s ease;
}

.cardTitle {
    font-size: var(--font-lg);
}

.cardImage:hover {
    transform: scale(1.2);
}