.container {}

.section {
  padding: var(--padding-2x) var(--padding-1x);
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light-purple);
  font-family: 'buildTitling', cursive;
}

.secondaryText {
  font-size: var(--font-md);
  text-transform: uppercase;
  font-family: 'rajdhani', sans-serif;
}

.description {
  color: var(--light-gray);
  width: 100%;
  height: 800px;
  background-color: var(--light-green);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}



.description {
  line-height: 1.5;
  font-size: var(--font-md);
}

.descriptionInfo {
  align-self: flex-end;
}

.participants {
  width: 100%;
  background-color: var(--light-gray);
  height: 800px;
}