.container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 80px auto 80px;
}

.section {
  padding: var(--padding-3x) var(--padding-2x);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'buildTitling', cursive;
}

.secondaryText {
  font-size: var(--font-md);
  text-transform: uppercase;
  font-family: 'rajdhani', sans-serif;
  max-width: 64ch;
}

.description {
  color: var(--light-gray);
  width: 100%;
  background-color: var(--light-green);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  line-height: 1.5;
  font-size: var(--font-md);
}

.descriptionInfo {
  align-self: flex-end;
}

.participants {
  width: 100%;
  background-color: var(--light-gray);
}

@media (min-width) {
  .section {
    padding: var(--padding-2x) var(--padding-1x);
  }
}