.intro {
    height: 800px;
    display: flex;
    background-color: var(--light-purple);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.descriptionText {
    max-width: 64ch;
}

.title {
    font-size: var(--font-h1);
    line-height: 1.15;
}

@media (max-width: 768px) {
    .title {
        font-size: var(--font-h1-sm);
        line-height: 1.15;
    }
}