.lines {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.line {
    width: 250px;
    margin: var(--margin-1x);
    border-bottom: 1px solid var(--gray);
    font-size: 1.4rem;
}