.formContainer {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    color: var(--light-gray);
    background-color: var(--light-green);
    padding: var(--padding-3x);
    gap: var(--padding-1x);
    font-size: 1.2rem;
}

.formContainer input {
    padding: var(--padding-1x);
}

.formContainer label {
    font-family: 'rajdhani';
}

.formInput:focus {
    outline: none;
}

.formError {
    color: var(--red);
    font-size: var(--font-md);
}

.formSuccess {
    color: var(--light-purple);
    font-size: var(--font-md);
}