.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--light-purple);
    height: 80px;
}

.navBrand {
    color: var(--light-green);
    font-size: var(--font-lg);
}


.navButton {
    background-color: transparent;
    border: 1px solid var(--light-green);
    color: var(--light-green);
    border-radius: var(--button-radius);
    padding: var(--padding-sm);
}

.navMenu {
    display: flex;
    align-content: center;
    gap: var(--padding-1x);
    font-size: var(--font-md);
}