.organizers {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--light-gray);
}

.organizersCards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--margin-1x);
    margin: var(--margin-2x) var(--margin-1x);
}

.organizerCard {
    width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--padding-1x);
    margin: var(--margin-2x) var(--margin-1x);
}

.organizerName {
    font-size: var(--font-md);
}

.organizerImg {
    width: 250px;
    object-fit: contain;
}