.tickets {
    background-color: var(--light-gray);
    border: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--font-md);
}

.plans {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--padding-3x);
    margin-top: var(--padding-3x);
}

.planIntro {
    font-family: cursive;
}

.plan {
    position: relative;
    text-align: center;
    width: 310px;
    height: 500px;
    padding: var(--padding-3x);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.planPrice {
    position: absolute;
    color: var(--white);
    border: 0;
    background-color: var(--light-purple);
    /* minus half circle's height */
    top: -45px;
    left: 110px;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    /* center text inside price bubble */
    display: grid;
    place-content: center;
}

.planBenefits {
    text-align: left;
}

.planBenefit {
    margin: var(--margin-1x) 0;
}

.icon {
    animation: 2s ease-in 1s infinite both running alternate upAndDown;
}

@keyframes upAndDown {
    from {
        transform: translateY(3px);
    }

    to {
        transform: translateY(-3px);
    }
}